# Telegram
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here

# Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka1:9092,kafka2:9092,kafka3:9092

# Whisper
WHISPER_ENDPOINT=http://10.110.150.77/v1/audio/transcriptions

# MinIO
MINIO_URL=10.110.188.120:9000
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=admin12345
MINIO_SECURE=false
MINIO_BUCKET_NAME=audio-archive

# Elasticsearch
ELASTIC_URL=http://10.110.188.120:9200
ELASTIC_INDEX_NAME=transcription.completed
